.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 15px 30px;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.titulo{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}
.barra_navegacion{
    display: flex;
    gap: 20;
}
.barra_navegacion a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.barra_navegacion a:hover{
    color: aqua;
}