.restaurantes {
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
  justify-items: center;
}
